# All Nginx Ingress helm values can be found at https://github.com/kubernetes/ingress-nginx/blob/main/charts/ingress-nginx/values.yaml
# You can also have a look at https://kubernetes.github.io/ingress-nginx/, to understand how it works, and all the options at your disposal.

controller:
  # These options can be found here https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/configmap/
  watchIngressWithoutClass: "true"
  kind: "DaemonSet"
  config:
    "use-forwarded-headers": "true"
    "compute-full-forwarded-for": "true"
    "use-proxy-protocol": "true"
  service:
    annotations:
      "load-balancer.hetzner.cloud/name": "k3s"
      # make hetzners load-balancer connect to our nodes via our private k3s
      "load-balancer.hetzner.cloud/use-private-ip": "true"
      # keep hetzner-ccm from exposing our private ingress ip, which in general isn't routeable from the public internet
      "load-balancer.hetzner.cloud/disable-private-ingress": "true"
      "load-balancer.hetzner.cloud/location": "nbg1"
      "load-balancer.hetzner.cloud/type": "lb11"
      "load-balancer.hetzner.cloud/uses-proxyprotocol": "true"