endpoints = {
  s3 = "https://hel1.your-objectstorage.com"
}
bucket = "baphomet"
access_key = ""
secret_key = "" 
key = "terraform.tfstate"
region = "hel1"
skip_metadata_api_check = true
use_path_style = true
skip_region_validation = true # This is crucial for non-AWS regions
skip_credentials_validation = true
skip_requesting_account_id = true