[Unit]
Description=Apply K8s SELinux Policy for Leap Micro
DefaultDependencies=no
After=local-fs.target
Before=k3s.service network-pre.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/apply-k8s-selinux-policy.sh

[Install]
WantedBy=sysinit.target