name: Generate terraform docs
on:
  push:
    branches:
      - staging

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        ref: ${{ github.event.pull_request.head.ref }}
        ssh-key: ${{ secrets.BYPASS_BRANCH_PROTECTION }}

    - name: Render terraform docs and push changes back to PR
      uses: terraform-docs/gh-actions@main
      with:
        working-dir: .
        git-push: "true"
        output-file: docs/terraform.md
        output-method: inject
        config-file: ".terraform-docs.yml"
